
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  font-family: "Poppins", sans-serif;
}

label{
  font-size: 20px;
}

html,
body{
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color:#FADFA1 ;
}

.container{
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.container > h1{
  margin-bottom: 20px;
}

.container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container div{
  display: flex;
  flex-direction: column;
}

.container input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: purple;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
/*css for salon card*/
.salon_card {
  width: 100%;
  height: 350px;
  margin: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* salon card css end*/

/*menu bar css below*/
@media (min-width: 601px){
  .home_page {
    margin-top: 70px;
  }
  
  .navigation {
    height: 65px;
    width: 100vw;
    background-color: #FF8A8A;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between; /* Distributes space between logo and nav items */
    align-items: center;
    padding: 0 20px; /* Adds padding to the left and right */
  }
  
  .app_logo img {
    height: 55px;
    border-radius: 5px;
  }
  
  .navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation ul li {
    margin: 10px;
    padding: 5px;
    font-weight: 500;
  }
  .navigation ul li a {
    text-decoration: none;
  }
  .navigation ul li .icon {
    display: none;
  }
  .navigation ul li:hover {
    font-size: large;
    font-weight: 700;
    text-decoration: overline;
    transition: 0.2s;

  }
}  

@media (max-width: 600px){
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :root {
    --clr: #222327;
  }

  .navigation{
    width: 320px;
    height: 50px;
    background: #fff;
    /* position: relative; */
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
  .navigation .app_logo a img {
    display: none;
  }
  .navigation ul {
    display: flex;
    width: 300px;
  }
  .navigation ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 50px;
    z-index: 1;
  }
  .navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }
  .navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.3em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
  }
  .navigation ul li.active a .icon {
    transform: translateY(-20px);
  }
  .navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400px;
    font-size: small;
    /* letter-spacing: 0.75em; */
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
  }
  .navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(3px);
  }
  .indicator {
    position: absolute;
    top: -40%;
    width: 60px;
    height: 60px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid #FADFA1;
    transition: 0.5s;
  }
  .indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 5px;
    height: 5px;
    background: transparent;
    /* border-top-right-radius: 20px; */
    /* box-shadow: 1px -10px 0 0 #FADFA1; */
  }
  .indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 5px;
    height: 5px;
    background: transparent;
    /* border-top-left-radius: 20px; */
    /* box-shadow: -1px -10px 0 0 #FADFA1; */
  }
  .navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(60px * 0));
  }
  .navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(60px * 1));
  }
  .navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(60px * 2));
  }
  .navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(60px * 3));
  }
  .navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(60px * 4));
  }
}

/*upto this menu bar css written*/